 @font-face {
      font-family: 'GmarketSansBold';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'GmarketSansMedium';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'GmarketSansLight';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    body {
      width: 100%;
      margin: 0;
    }

    .header {
      z-index: 10;
      display: flex;
      position:fixed;
      width: 100%;
      height: 80px;
      background-color: #F1B33A;
    }

    .logo {
      align-self: center;
      position: relative;
      left: 200px;
    }

    .menu {
      width: 350px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      left: 750px;
      font-family: 'GmarketSansMedium';
      font-size: 20px;
      color: white;
    }

    .menu a {
      text-decoration: none;
      color: inherit;
    }

    .menu_contents {
      padding: 8px;
      border-radius: 10px;
    }

    .menu_contents:hover {
      background-color: #656565;
    }

    .page_title {
      text-align: center;
      font-family: 'GmarketSansMedium';
      font-size: 25px;
      color: #656565;
      /* border:1px solid black; */
      padding-top:130px;
    }
    .underbar{
      background-color: #656565;;
      color: white;
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
    }

    .email{
      margin-left: 100px;
    }
      /* 여기까지 모든 페이지 공통 적용 */

    #project_title {
      text-align: center;
      font-family: 'GmarketSansBold';
      font-size: 70px;
      color: #656565;
      padding-top:105px;
      padding-bottom:240px;
      /* border: 1px solid black; */
    }

    #project_int {
      display: flex;
      justify-content: center;
      /* border: 1px solid black; */
      color:#CDC4C2;
      font-family: 'GmarketSansMedium';
      font-size:33px;
      padding-top:200px;
      padding-bottom:260px;
    }
/* 여기까지 팀소개 페이지 */

.sub_menu{
  /* border:1px solid black; */
  z-index: 11;
  position: fixed;
  top:75px;
  right:0px;
  left:0px;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  width:100%;
  height:35px;
  color: white;
  font-family: 'GmarketSansLight';
  font-size: 15px;
  background-color:#656565;
}

.sub_menu_contents{
  /* border:1px solid black; */
  margin-left: -60px;
  margin-right: -60px;;
  padding: 3px;
  border-radius: 10px;
}
.sub_menu_contents a{
  text-decoration: none;
      color: inherit;
}
.sub_menu_contents:hover {
      background-color: #CDC4C2;
    }

.contents_name{
  padding-top: 30px;
  text-align: center;
  /* border:1px solid black; */
  font-family: 'GmarketSansBold';
  color:#656565;
  font-size: 55px;
}

.contents_name_goal{
  text-align: center;
  /* border:1px solid black; */
  font-family: 'GmarketSansBold';
  color:#656565;
  font-size: 55px;
}

#project_name{
  text-align: center;
  font-family: 'GmarketSansBold';
  color:#656565;
  font-size: 60px;
  /* border:1px solid black; */
  padding-top: 160px;
  padding-bottom: 230px;
}
#definition{
  /* border:1px solid black; */
  padding-top:110px;
  padding-bottom: 200px;
}

#definition_contents{
  text-align: center;
  /* border:1px solid black; */
  font-family: 'GmarketSansMedium';
  color:#CDC4C2;
  font-size: 40px;
  margin-top: 130px;
}

#reason{
  /* border:1px solid black; */
  padding-top:110px;
}

#reason_contents{
  /* border:1px solid black; */
  color:#CDC4C2;
  text-align: center;
  display:flex;
  flex-direction: column;
  margin-top: 20px;
}

#reason_cause{
  /* border:1px solid black; */
  font-family: 'GmarketSansLight';
  font-size: 25px;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top:70px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 50px;
}

#reason_result{
  /* border:1px solid black; */
  font-family: 'GmarketSansMedium';
  font-size: 35px;
  margin-bottom: 130px;
}


#reality{
  /* border:1px solid black; */
  padding-top:110px;
  padding-bottom:190px;
}

#reality_contents{
  margin-top: 60px;
  /* border:1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

 .graph_box{
      width: 280px;
      height: 280px;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      box-shadow: 2px 2px 8px 0px #000;
    }
    .graph_img{
      position: absolute;
      background: #CDC4C2;
      z-index:1;
      -webkit-transition:all .5s ease;
      transition: all .5s ease;
      bottom:0px;
      overflow: hidden;
     }

     .graph_box:hover .graph_img{
       bottom: 100px;
     }

     .graph_text{
       font-family: 'GmarketSansLight';
      text-align: center;
      line-height: 100px;
      width: 260px;
      height: 100px;
      padding:10px;
      color:#FFFFFF;
      background: #656565;
      position: absolute;
      bottom:0px;
    }

#problem{
  /* border:1px solid black; */
  padding-top:110px;
  padding-bottom:190px;
}

#problem_contents{
  text-align: center;
  /* border:1px solid black; */
  font-family: 'GmarketSansMedium';
  color:#CDC4C2;
  font-size: 45px;
  margin-top: 90px;
  padding:0px;
}

.deep{
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
}

#goal{
  /* border:1px solid black; */
  padding-top:110px;
  padding-bottom:190px;
}

#purpose{
  text-align: center;
  /* border:1px solid black; */
  font-family: 'GmarketSansMedium';
  color:#CDC4C2;
  font-size: 40px;
  margin-top: 130px;
}


    figure {
      transition: opacity 0.2s; 
      position: relative; 
      margin: 0; 
      max-width: 20%
    }
    figure img {
      width: 240px;
    }
    figure figcaption {
      color: #fff;
      bottom: 70px; 
      opacity: 0;position: absolute; 
      text-align: center; 
      width: 100%;
      transition: all .3s ease;
    }
    figure .picture {
      opacity: 1;
      transition: all 0.3s ease 0s;
      overflow: hidden
    }
    figure:hover .picture {
      background-color: #000
    }
    figure:hover img {
      opacity: 1;
      transition: all .3s ease;
      opacity: 0.15;
    }
    figure:hover figcaption {
      opacity: 1;
      transition: all .3s ease; 
    }

    .member_int{
      display: flex;
      flex-direction: column;
      margin-top:50px;
      margin-bottom: 150px;
      /* border:1px solid black; */
    }

    .member_int_1{
      display: flex;
      flex-direction: row;
      justify-content: center;
      /* border:1px solid black; */
      margin-bottom:10px ;
    }

    .member_int_2{
      display: flex;
      flex-direction: row;
      justify-content: center;
      /* border:1px solid black; */
    } 

    #pic_1, #pic_3{
      position: relative;
      right:10px;
    }

    #pic_2, #pic_4{
      position: relative;
      left:10px;
    }

