 @font-face {
      font-family: 'GmarketSansBold';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'GmarketSansMedium';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'GmarketSansLight';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    body {
      width: 100%;
      margin: 0;
    }

    .header {
      display: flex;
      position: fixed;
      width: 100%;
      height: 80px;
      background-color: #74B0CF;
    }

    .logo {
      align-self: center;
      position: relative;
      left: 200px;
    }

    .menu {
      width: 350px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      left: 750px;
      font-family: 'GmarketSansMedium';
      font-size: 20px;
      color: white;
    }

    .menu a {
      text-decoration: none;
      color: inherit;
    }

    .menu_contents {
      padding: 8px;
      border-radius: 10px;
    }

    .menu_contents:hover {
      background-color: #006EB9;
    }

    .page_title {
      font-family: 'GmarketSansMedium';
      font-size: 25px;
      color: #006EB9;
      /* border:1px solid black; */
      padding-top:130px;
    }
    .underbar{
      background-color: #006EB9;;
      color: white;
      width: 100%;
      height: 40px;
    }
      /* 여기까지 모든 페이지 공통 적용 */

    #project_title {
      font-family: 'GmarketSansBold';
      font-size: 70px;
      color: #006EB9;
      padding-top:105px;
      padding-bottom:240px;
      /* border: 1px solid black; */
    }

    #project_int {
      display: flex;
      justify-content: center;
      /* border: 1px solid black; */
      color:#74B0CF;
      font-family: 'GmarketSansMedium';
      font-size:30px;
      padding-top:200px;
      padding-bottom:260px;
    }
/* 여기까지 팀소개 페이지 */

.sub_menu{
  /* border:1px solid black; */
  position: fixed;
  top:75px;
  right:0px;
  left:0px;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  width:100%;
  height:35px;
  color: white;
  font-family: 'GmarketSansLight';
  font-size: 15px;
  background-color:#006EB9;
}

.sub_menu_contents{
  /* border:1px solid black; */
  margin-left: -60px;
  margin-right: -60px;;
  padding: 1px;
  border-radius: 10px;
}
.sub_menu_contents a{
  text-decoration: none;
      color: inherit;
}
.sub_menu_contents:hover {
      background-color: #74B0CF;
    }

#project_name{
  text-align: center;
  font-family: 'GmarketSansBold';
  color:#006EB9;
  font-size: 60px;
  /* border:1px solid black; */
  padding-top: 160px;
  padding-bottom: 310px;
}
#definition{
  /* border:1px solid black; */
  text-align: center;
  padding-top:120px;
  padding-bottom: 200px;
}
.contents_name{
  /* border:1px solid black; */
  font-family: 'GmarketSansBold';
  color:#006EB9;
  font-size: 55px;
}
#definition_contents{
  /* border:1px solid black; */
  font-family: 'GmarketSansMedium';
  color:#74B0CF;
  font-size: 35px;
  margin-top: 100px;
}



    figure {transition: opacity 0.2s; position: relative; margin: 0; max-width: 20%}
    figure img {width: 100%}
    figure figcaption {color: #fff;bottom: 70px; opacity: 0;position: absolute; text-align: center; width: 100%;transition: all .3s ease;}
    figure .picture {opacity: 1;transition: all 0.3s ease 0s;overflow: hidden}
    figure:hover .picture {background-color: #000}
    figure:hover img {opacity: 1;transition: all .3s ease;opacity: 0.15;}
    figure:hover figcaption {opacity: 1;transition: all .3s ease; }

    .member_int{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top:85px;
      margin-bottom: 150px;
    }